/* Шрифты */
@font-face {
    font-family: 'TransformaMix';
    src: url("fonts/TransformaMix_Trial-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kreadon';
    src: url("fonts/Kreadon-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
/* Основные стили */
body {
    font-family: 'Kreadon';
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Шапка */
/* Шапка */
header {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ddd; /* Добавляем нижнюю границу */
}

h1, h2 {
    font-family: 'TransformaMix' ;
    color: #333;
    font-weight: normal;
    margin: 0; /* Убираем отступы */
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #333;
    text-decoration: none;
    font-family: 'Kreadon';
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

/* Основная часть */
main {
    padding: 20px;
    background-color: #f9f9f9; /* Добавляем фон */
}

/* Стили для главной секции */
.hero {
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff; /* Добавляем фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hero img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid #fff; /* Добавляем белую рамку */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-family: 'TransformaMix';
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555; /* Цвет текста */
}

/* Стили для блока "Почему выбрать Карину Холд?" */
.about {
    margin-bottom: 40px;
    background-color: #fff; /* Добавляем фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'TransformaMix';
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

.about ul {
    list-style: none;
    padding: 0;
}

.about li {
    margin-bottom: 10px;
    padding-left: 20px; /* Увеличиваем отступ слева */
    position: relative;
}

.about li::before {
    content: '❤';
    color: #ff1493; /* Цвет сердечка */
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для галереи */
.gallery {
    margin-bottom: 40px;
}

.gallery .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Add this CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-img {
    width: 100%;
    border-radius: 10px;
}

/* Update gallery image styles */
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Add cursor pointer */
}



/* Стили для блока "Отзывы" */
.testimonials {
    margin-bottom: 40px;
    background-color: #f9f9f9; /* Добавляем фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'TransformaMix';
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

.testimonials-slider {
    display: flex;
    flex-wrap: nowrap; /* Запретить перенос элементов на новую строку */
    overflow-x: auto; /* Разрешить горизонтальную прокрутку */
    justify-content: flex-start; /* Выравнивание элементов по левому краю */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.testimonials-slider::-webkit-scrollbar {
    display: none;
}

.testimonial {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.testimonial p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555; /* Цвет текста */
}

.testimonial p:last-child {
    margin-bottom: 0;
}

.testimonial cite {
    font-style: italic;
    color: #888;
}

/* Стили для блока "Контакты" */
.contact {
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff; /* Добавляем фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'TransformaMix';
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

.contact p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555; /* Цвет текста */
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
    padding-left: 20px; /* Увеличиваем отступ слева */
    position: relative;
}

/*.contact li::before {*/
/*    content: '✉';*/
/*    color: #ff1493; !* Цвет иконки *!*/
/*    margin-right: 10px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/

/* Футер */
footer {
    background-color: #f9f9f9;
    color: #555555;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #ddd;
}


/* Для мобильных устройств */
@media screen and (max-width: 767px) {
    /* Изменения для шапки */
    header {
        padding: 10px 0;
    }

    h1, h2 {
        font-size: 24px;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    nav {
        margin-top: 20px;
    }

    nav a {
        font-size: 16px;
    }

    /* Изменения для главной секции */
    .hero {
        padding: 20px;
    }

    .hero img {
        width: 150px;
        height: 150px;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    /* Изменения для блока "Почему выбрать Карину Холд?" */
    .about {
        padding: 20px;
    }

    .about h2 {
        font-size: 24px;
    }

    .about li::before {
        font-size: 18px;
    }

    /* Изменения для галереи */
    .gallery .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    /* Изменения для блока "Отзывы" */
    .testimonials {
        padding: 20px;
    }

    .testimonials h2 {
        font-size: 24px;
    }

    .testimonial {
        width: fit-content;

    }

    .testimonial p {

        font-size: 14px;
        width: 150px;

    }

    /* Изменения для блока "Контакты" */
    .contact {
        padding: 20px;
    }

    .contact h2 {
        font-size: 24px;
    }

    .contact p {
        font-size: 14px;
    }

    .contact li::before {
        font-size: 18px;
    }
}
/* Стили для формы обратной связи */
.contact-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.contact-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'TransformaMix';
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 16px;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Kreadon';
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}
